interval={{ wrt_net_interval }}
timeout={{ wrt_net_timeout }}
prefix_iface={{ wrt_net_prefix_iface }}
metric={{ wrt_net_route_metric }}
lo_iface={{ wrt_net_lo_iface }}
lo_ipv4={{ wrt_net_lo_ipv4 }}
lo_ipv6={{ wrt_net_lo_ipv6 }}
